<header>
            <div class="header_c_1">
                <a href=""><img src=".\assets\images\light.png" class="logo"></a>
            </div>
            <div class="header_c_2">
                <a href=""><div class="title">EcoGlow</div></a>
            </div>
            <div class="header_c_3">
            <a href="" class="menu_btn"><span>1st #</span></a>
            <a href="" class="menu_btn"><span>2nd #</span></a>
            <a href="" class="menu_btn"><span>3rd #</span></a>
            </div>
        </header>