body {
    height: 100vh;
    margin: 0;
    background:
        radial-gradient(circle at top right, var(--c-primary), transparent 70%),
        radial-gradient(circle at top left, var(--c-secondary), transparent 70%),
        radial-gradient(circle at bottom center, yellow, transparent 70%);
        background-blend-mode: screen;
}

a{
  color: inherit;
  text-decoration: none;
}

header {
    background-color: red;
    height: 12.5vh;
    display: grid;
    
    grid-template-columns: auto auto auto;
}

.logo {
    height: 10vh;
    margin: 1.25vh 1.25vh 1.25vh 1.25vh;
}

.header_c_1 {
    width: 12.5vh;
}

.header_c_2 {
    width: 30vh;
    align-items: left;
}

.title {
    font-size: 5vh;
}

.header_c_3 {

}